// feed
.feed-groups{
	.title-image{
		background-color: rgba(80,80,80,0.1);
	    display: block;
	    width: 80px;
	    height: 80px;
	    background-size: 80px;
	    background-repeat: no-repeat;
	    background-position: center;
	    overflow: hidden;
	}
}

.group-name-tags{
	margin-top: -10px;
    margin-left: -10px;
	.tags{
	    display: inline-block;
	    background: $vart-color-dark;
	    color: #fff;
	    font-style: normal;
	    padding: 0 10px;
	    line-height: 30px;
	    min-width: 60px;
        border-top-right-radius: 10px;
    	border-bottom-right-radius: 10px;
	}
}
.media-url{
	width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
}