
    <div class="box box-widget">
        <div class="box-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label" translate>用户名</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="criteria.Keyword">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn bg-vart" translate ng-click="search()">common.search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="box box-widget">
        <div class="box-body">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>用户名</th>
                        <th>性别</th>
                        <th>创建日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in users.list">
                        <td>
                            <img ng-if="s.avatarImage.key" width="60" height="60" ng-src="{{s.avatarImage.key}}" alt="">
                            <img ng-if="!s.avatarImage.key" width="60" height="60" ng-src="{{s.titleImage.key|qiniu}}" alt="">
                        </td>
                        <td>{{s.alias}}</td>
                        <td>{{s.gender|gender}}</td>
                        <td>{{s.createdTime|date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
            <pager total="{{users.totalPages}}" current="{{users.pageNumber}}"></pager>
        </div>
    </div>
