<div class="row">
    <div class="col-xs-4">
        <div style="margin:20px 0;line-height: 34px;" ng-show="records" class="text-muted">{{"common.total"|translate:records}}</div>
    </div>
    <div class="col-xs-8" ng-if="total>1">
        <ul class="pagination">
        <!--prev page-->
        <li ng-class="{'disabled':current==1}">
            <a aria-label="Previous" ng-click="prev()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <!--first page-->
        <li>
            <a ng-class="{'bg-vart':current==1}" ng-click="goto(1)">1</a>
        </li>
        <!--divider-->
        <li class="disabled" ng-show="start>2">
            <a>...</a>
        </li>
        <li ng-repeat="p in getPageList()">
            <a ng-class="{'bg-vart':current==p}" ng-click="goto(p)">{{p}}</a>
        </li>
        <!--divider-->
        <li class="disabled" ng-show="end<total-1">
            <a>...</a>
        </li>
        <!--last page-->
        <li ng-if="total>1">
            <a ng-click="goto(total)" ng-class="{'bg-vart':current==total}">{{total}}</a>
        </li>
        <!--next page-->
        <li ng-class="{'disabled':current==total}">
            <a aria-label="Next" ng-click="next()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li>
            <!-- /input-group -->
        </li>
    </ul>
    <div style="display:inline-block;width:100px;margin:20px 0">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="gotoPage">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="goto(gotoPage)">Go</button>
            </span>
        </div>
    </div>
    </div>
</div>
