<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="box box-widget" style="margin-top:100px;margin-bottom:20%">
                <div class="box-header with-border">
                    <h4 class="box-title">取回密码</h4>
                    <a class="pull-right" ui-sref="login.login">返回登录</a>
                </div>
                <div class="box-body">
                    <form name="form" novalidate>
                        <div class="form-group form-horizontal">
                            <label  class="control-label col-sm-2">用户名</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" placeholder="邮箱地址" ng-model="email" required>
                                <span class="help-block">请输入你需要找回登录密码的账户名</span>

                                <div class="alert alert-info alert-dismissible" role="alert" ng-if="complete">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    您将收到重置密码的电子邮件。已找回密码? <a ui-sref="auth.login">登录</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn bg-vart pull-right"
                                        ng-disabled="form.$invalid || loading==true" ng-click="submit()">取回密码
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
