<section class="content">
    <div class="box box-widget">
        <div class="box-body">
          <div class="content-title">
            <div class="pull-right">
                <button class="btn bg-vart" ng-click="openNewProductModal()" translate style="margin-left: 15px;">product.newProduct</button>
            </div>
            <div class="pull-right">
                <product-picker copy-product="true"></product-picker>
            </div>
          </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label">SKU</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="criteria.skuCode">
                    </div>
                    <label class="col-sm-1 control-label" translate>product.name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="criteria.name">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn bg-vart" translate ng-click="save()">common.search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="box box-widget">
        <div class="box-body">
            <div class="table-th label col-sm-12">
                <div class="col-sm-2">SKU</div>
                <div class="col-sm-2" translate>product.name</div>
                <div class="col-sm-1" translate></div>
                <div class="col-sm-2" translate>product.type</div>
                <div class="col-sm-3" translate>product.price</div>
                <div class="col-sm-1" translate>product.stock</div>
                <!-- <div class="col-sm-1" translate>product.productCat</div> -->
                <div class="col-sm-1" translate>common.operation</div>
            </div>
            <div  dragula="'products-list'" dragula-model="products.list">
                <div class="table-tr col-sm-12" ng-repeat="p in products.list">
                    <div class="col-sm-2">
                        {{p.skuCode}}
                    </div>
                    <div class="col-sm-2">
                        <a ui-sref="app.product_index({id:p.id})">{{p.name}}</a>
                    </div>
                    <div class="col-sm-1">
                        <label translate class="label label-success" ng-show="p.isEnabled">product.enabled</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="label label-info" translate>{{p.canExchangeScore ? '兑换' : ''}}</label>
                        <label translate class="label" ng-class="p.isActivity ? 'label-danger' : (p.productType == 2 ? 'label-primary' : 'label-default')">
                        {{p.isActivity ? '活动' : (p.productType == 2 ? '会员' : '票务')}}
                        </label>
                        {{p.productType|productType}}
                    </div>
                    <div class="col-sm-3">
                        <span data-toggle="tooltip" data-placement="top" title="{{'product.standardPrice'|translate}}">
                                {{p.price|price}}</span>
                            <span data-toggle="tooltip" data-placement="top" title="{{'product.memberPrice'|translate}}"
                                  class="text-muted"> / {{p.memberPrice|price}}</span>
                    </div>
                    <div class="col-sm-1">
                        {{p.stock}}
                    </div>
                    <div class="col-sm-1">
                        <a ui-sref="app.product_index({id:p.id})" translate>common.view</a>
                        <a class="danger" translate ng-click="delete(p.id)">common.delete</a>
                        <a translate ng-click="openSortModal(p.id)">排序#{{p.sortId?p.sortId:0}}</a>

                    </div>
                </div>
            </div>
            <pager total="{{products.totalPages}}" current="{{products.pageNumber}}"></pager>

        </div>
    </div>
</section>
