<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" ng-click="$hide()">×</button> -->
                    <h4 class="modal-title" translate>更新通知</h4>
                </div>
                <div class="modal-body">
                    <div ng-bind-html="messageNotice.mesageNoteDto.message | html"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn bg-vart" ng-click="saveView()" translate>
                        知道了
                    </button>
                </div>
        </div>
    </div>
</div>
