<div class="container-fluid uploader">
    <div class="row">
        <div class="col-sm-4">
            <div class="uploader-drop" ngf-drop ngf-select ngf-change="upload(file)" ng-model="file" ngf-multiple="false" accept="video/*">
                <h6 translate> 点击上传</h6>
            </div>
        </div>
        <div class="col-sm-8">
        <video id="video" controls="controls" poster="{{ngModel.key|qiniu:'vframe/jpg/offset/7/w/800/h/450'}}">
            <source ng-src="ngModel.key|qiniu:'vframe/jpg/offset/7/w/800/h/450'">
        </video>
            <!-- <img ng-src="{{ngModel.key|qiniu:'vframe/jpg/offset/7/w/800/h/450'}}" controls="controls" preload="auto" alt="" /> -->
            <!-- <video ng-src="{{ngModel.key|qiniu:'vframe/jpg/offset/7/w/800/h/450'}}" controls="controls" preload="auto" alt="" /> -->
            <div class="progress progress-xs" ng-if="progress!=undefined">
                <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="progress"></div>
            </div>
        </div>
</div>
