$gery-light0: #ffffff;
$gery-light1: #eeeeee;
$gery-light2: #d6d6d6;
$theme: #000 !important;
$gery-dark0: #000000;
$gery-dark1: #262626;
$gery-dark2: #3a3a3a;
$color-danger: #dd4b39 !important;
$color-danger-active: #d33724 !important;
$color-warning: #f39c12 !important;
$color-warning-active: #db8b0b !important;
$vart-color-dark: #222d32;
$light-blue: #3c8dbc;
$light-gray:#888;
$light-green:#00a65a;
$yellow-green:#a3d02c;